html, body {
}

.container {
}

.knt-app {
    padding-top: 10px;
}

.knt-logo {
    background-image: url(../images/guru.png);
    width: 32px;
    height: 32px;
    float: left;
}

.knt-dashboard {
}

.knt-title {
    font-weight: bold;
    color: #4E5D6C;
    text-align: center;
}

.knt-rate {
    background-image: url(../images/star.png);
    height: 16px;
    width: 48px;
    float: right;
}

.knt-area-js-icon {
    background-image: url(../images/js.png);
    height: 41px;
    width: 32px;
    float: left;
}

.knt-area-html-icon {
    background-image: url(../images/html.png);
    height: 41px;
    width: 32px;
    float: left;
}

.knt-area-css-icon {
    background-image: url(../images/css.png);
    height: 41px;
    width: 32px;
    float: left;
}

.knt-area-silverlight-icon {
    background-image: url(../images/silverlight.png);
    height: 31px;
    width: 31px;
    float: left;
}

.knt-area-webapi-icon {
    background-image: url(../images/webapi.png);
    height: 42px;
    width: 54px;
    float: left;
}

.knt-area-aspnet-icon {
    background-image: url(../images/aspnet.png);
    height: 42px;
    width: 130px;
    float: left;
}

.knt-area {
    min-height: 30px;
    color: white;
    border: 3px solid white;
}

    .knt-area:hover {
        cursor: pointer;
    }

    .container-fluid .knt-area,
    .knt-area .knt-area {
        padding: 10px 25px;
        font-weight: bold;
    }

.knt-area-2lvl {
    float: left;
    margin-bottom: 10px;
}

.knt-area-wrapper {
    background-color: lightgrey;
    color: #4E5D6C;
}

    .knt-area-wrapper .knt-area-wrapper.knt-area {
        background-color: #888888;
        color: white;
    }

    .knt-area-wrapper .knt-area,
    .knt-area-wrapper + .knt-area {
        background-color: #555555;
    }

        .knt-area-wrapper .knt-area:hover,
        .knt-area-wrapper + .knt-area:hover {
            background-color: #999999;
        }

.bx-viewport {
    height: auto !important;
}
