html, body {
}

.container {
}

.knt-app {
    padding-top: 10px;
}

.knt-logo {
    width: 32px;
    height: 32px;
    float: left;
    background-position: 0px -43px;
    margin-top: -5px;
}

.knt-dashboard {
}

.knt-dashboard-domain {
}

.knt-dashboard-subdomain {
}

.knt-dashboard-unit {
}

.knt-title {
    font-weight: bold;
    color: #4E5D6C;
    text-align: center;
}

.knt-rate {
    background-position: 0px -77px;
    background-repeat: repeat-x;
    height: 16px;
    width: 16px;
    float: right;
}

.knt-dashboard-icon {
    height: 42px;
    float: left;
}

    .knt-dashboard-icon.knt-js-icon {
        background-position: -228px 0px;
        width: 32px;
    }

    .knt-dashboard-icon.knt-html-icon {
        background-position: -192px 0px;
        width: 32px;
    }

    .knt-dashboard-icon.knt-css-icon {
        background-position: -263px 0px;
        width: 32px;
    }

    .knt-dashboard-icon.knt-silverlight-icon {
        background-position: -300px 0px;
        width: 43px;
    }

    .knt-dashboard-icon.knt-webapi-icon {
        background-position: -132px 0px;
        width: 54px;
    }

    .knt-dashboard-icon.knt-aspnet-icon {
        width: 130px;
    }

.knt-area {
    min-height: 30px;
    color: white;
    border: 1px solid lightgray;
}

    .knt-area:hover {
        cursor: pointer;
    }

    .container-fluid .knt-area,
    .knt-area .knt-area {
        padding: 10px 25px;
        font-weight: bold;
    }

.knt-area-2lvl {
    float: left;
    margin-bottom: 10px;
}

.knt-area-wrapper {
    background-color: lightgrey;
    color: #4E5D6C;
}

    .knt-area-wrapper .knt-area-wrapper.knt-area {
        background-color: #888888;
        color: white;
    }

    .knt-area-wrapper .knt-area,
    .knt-area-wrapper + .knt-area {
        background-color: #555555;
    }

        .knt-area-wrapper .knt-area:hover,
        .knt-area-wrapper + .knt-area:hover {
            background-color: #999999;
        }

.bx-viewport {
    height: auto !important;
}
