<div class="container-fluid">
    <ul id="id-dashboards-slider">
        <li class="knt-dashboard">
            <h4 class="knt-title">Languages and Technologies Dashboard</h4>
            @Html.Partial("~/Views/Dashboards/_Technical.cshtml")
        </li>
        <li>
            <h4 class="knt-title">Skills Dashboard</h4>
        </li>
        <li>
            <h4 class="knt-title">Interests Dashboard</h4>
        </li>
        <li>
            <h4 class="knt-title">Foreign Languages Dashboard</h4>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('#id-dashboards-slider').bxSlider();
    });
</script>

