@model System.Tuple<string, string>[]

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tuple<string, string> x in Model)
        {
            <tr>
                <td>@x.Item1</td>
                <td>@x.Item2</td>
            </tr>
        }
    </tbody>
</table>
