<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<add name="Timer" type="Kunto.Web.Samples.Infrustructure.TimerModule"/>
      <add name="Total" type="Kunto.Web.Samples.Infrustructure.TotalTimeModule"/>
      <add name="Debug" type="Kunto.Web.Samples.Infrustructure.DebugModule"/>-->
      <add name="DayPrep" type="Kunto.Web.Infrustructure.Samples.Modules.DayModule"/>
    </modules>
    <handlers>
      <add name="DayJSON" path="/handler/*.json" verb="GET" type="Kunto.Web.Infrustructure.Samples.Handlers.DayOfWeekHandler, Kunto.Web, Version=1.0.0.0, Culture=neutral"/>
      <add name="DayHTML" path="/handler/day.html" verb="*" type="Kunto.Web.Infrustructure.Samples.Handlers.DayOfWeekHandler, Kunto.Web, Version=1.0.0.0, Culture=neutral"/>
      <!--<add name="SiteLength" path="/handler/site" verb="*" type="SimpleApp.Infrastructure.SiteLengthHandler"/>-->
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>