@model long?

@{
    Layout = null;
}

<div class="alert alert-info">
    @if (Model.HasValue)
    {
        @: Cached Data: @Model bytes
 }
    else
    {
        @: No Cached Data
 }
</div>
@using (Html.BeginForm("PopulateCache", "ASPNET"))
{
    <button class="btn btn-primary">Populate Cache</button>
}
