@model dynamic

@{
    ViewBag.Title = "ASP.NET Events";
}

<div class="panel panel-primary">
    <h5 class="panel-heading">Events</h5>
    <table class="table table-condensed table-striped">
        @foreach (string eventName in Model)
        {
            <tr>
                <td>@eventName</td>
            </tr>
        }
    </table>
</div>
