<div class="container-fluid knt-dashboard">
    <div class="row clearfix">
        <div class="col-md-12 knt-area knt-area-wrapper">
            Web UI
            <div class="row clearfix">
                <div class="col-md-3 knt-area">
                    <div>
                        <div class="knt-icon knt-dashboard-icon knt-html-icon"></div>
                        <div style="float: left; margin-left: 15px;">
                            <div>HTML/HTML5</div>
                            <div>2 years</div>
                        </div>
                    </div>
                    <div class="knt-icon knt-rate"></div>
                </div>
                <div class="col-md-3 knt-area">
                    <div>
                        <div class="knt-icon knt-dashboard-icon knt-css-icon"></div>
                        <div style="float: left; margin-left: 15px;">
                            <div>CSS</div>
                            <div>2 years</div>
                        </div>
                    </div>
                    <div class="knt-icon knt-rate"></div>
                </div>
                <div class="col-md-6 knt-area">
                    <div>
                        <div class="knt-icon knt-dashboard-icon  knt-js-icon"></div>
                        <div style="float: left; margin-left: 15px;">
                            <div>JavaScript</div>
                            <div>4 years</div>
                        </div>
                    </div>
                    <div class="knt-icon knt-rate"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 knt-area knt-area-wrapper">
            C#/.NET
            <div class="row clearfix">
                <div class="col-md-8 knt-area knt-area-wrapper">
                    <div class="row clearfix">
                        <a class="col-md-6 knt-area knt-area-wrapper" href="@Url.Action("Samples", "ASPNET")">
                            <div class="knt-area-2lvl">
                                <div class="knt-icon knt-dashboard-icon  knt-aspnet-icon"></div>
                                <div style="float: left; margin-left: 15px;">
                                    <div>ASP.NET</div>
                                    <div>1 year 6 months</div>
                                </div>
                            </div>
                            <div>
                                <div class="knt-icon knt-rate"></div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 knt-area">
                                    <div class="knt-icon knt-dashboard-icon  knt-aspmvc-icon"></div>
                                    <div style="float: left; margin-left: 15px;">
                                        <div>ASP.NET MVC</div>
                                        <div>1 year 6 months</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 knt-area">
                                    <div>
                                        <div class="knt-icon knt-dashboard-icon  knt-webapi-icon"></div>
                                        <div style="float: left; margin-left: 15px;">
                                            <div>WEB API</div>
                                            <div>2 years</div>
                                        </div>
                                    </div>
                                    <div class="knt-icon knt-rate"></div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-6 knt-area knt-area-wrapper">
                            <div class="row clearfix">
                                <div class="col-md-12 knt-area">
                                    <div>
                                        <div class="knt-icon knt-dashboard-icon  knt-silverlight-icon"></div>
                                        <div style="float: left; margin-left: 15px;">
                                            <div>Silverlight</div>
                                            <div>4 years</div>
                                        </div>
                                    </div>
                                    <div class="knt-icon knt-rate"></div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 knt-area">
                                    WPF
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 knt-area">
                                    Win Forms
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 knt-area knt-area-wrapper">
                            ADO.NET
                                <div class="row clearfix">
                                    <div class="col-md-12 knt-area">
                                        Entity Framework
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 knt-area knt-area-wrapper">
                    .NET Libs and Frameworks
                    <div class="row clearfix">
                        <div class="col-md-12 knt-area">
                            PRISM
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 knt-area">
                            Enterprise Library
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 knt-area knt-area-wrapper">
            SQL
            <div class="row clearfix">
                <div class="col-md-6 knt-area">
                    MS SQL
                </div>
                <div class="col-md-6 knt-area">
                    MySql
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    });
</script>
