<div class="container-fluid kunto-dashboard">
    <div class="row clearfix">
        <div class="col-md-12 kunto-area kunto-area-wrapper">
            Web UI
            <div class="row clearfix">
                <div class="col-md-3 kunto-area">
                    <div>
                        <div class="kunto-area-html-icon"></div>
                        <div style="float: left; margin-left: 15px;">
                            <div>HTML/HTML5</div>
                            <div>2 years</div>
                        </div>
                    </div>
                    <div class="kunto-rate"></div>
                </div>
                <div class="col-md-3 kunto-area">
                    <div>
                        <div class="kunto-area-css-icon"></div>
                        <div style="float: left; margin-left: 15px;">
                            <div>CSS</div>
                            <div>2 years</div>
                        </div>
                    </div>
                    <div class="kunto-rate"></div>
                </div>
                <div class="col-md-6 kunto-area">
                    <div>
                        <div class="kunto-area-js-icon"></div>
                        <div style="float: left; margin-left: 15px;">
                            <div>JavaScript</div>
                            <div>4 years</div>
                        </div>
                    </div>
                    <div class="kunto-rate"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 kunto-area kunto-area-wrapper">
            C#/.NET
            <div class="row clearfix">
                <div class="col-md-8 kunto-area kunto-area-wrapper">
                    <div class="row clearfix">
                        <div class="col-md-6 kunto-area kunto-area-wrapper">
                            ASP.NET
                    <div class="row clearfix">
                        <div class="col-md-12 kunto-area">
                            <span>ASP.NET MVC</span>
                            <div class="kunto-rate"></div>
                        </div>
                    </div>
                            <div class="row clearfix">
                                <div class="col-md-12 kunto-area">
                                    <div>
                                        <div class="kunto-area-webapi-icon"></div>
                                        <div style="float: left; margin-left: 15px;">
                                            <div>WEB API</div>
                                            <div>2 years</div>
                                        </div>
                                    </div>
                                    <div class="kunto-rate"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 kunto-area kunto-area-wrapper">
                            <div class="row clearfix">
                                <div class="col-md-12 kunto-area">
                                    <div>
                                        <div class="kunto-area-silverlight-icon"></div>
                                        <div style="float: left; margin-left: 15px;">
                                            <div>Silverlight</div>
                                            <div>4 years</div>
                                        </div>
                                    </div>
                                    <div class="kunto-rate"></div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 kunto-area">
                                    WPF
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 kunto-area">
                                    Win Forms
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 kunto-area kunto-area-wrapper">
                            ADO.NET
                                <div class="row clearfix">
                                    <div class="col-md-12 kunto-area">
                                        Entity Framework
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 kunto-area kunto-area-wrapper">
                    .NET Libs and Frameworks
                    <div class="row clearfix">
                        <div class="col-md-12 kunto-area">
                            PRISM
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 kunto-area">
                            Enterprise Library
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 kunto-area kunto-area-wrapper">
            SQL
            <div class="row clearfix">
                <div class="col-md-6 kunto-area">
                    MS SQL
                </div>
                <div class="col-md-6 kunto-area">
                    MySql
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    });
</script>
