﻿<script>
    var designPatternsApp = angular.module('designPatternsApp', []);
    var baseApiUrl = 'http://localhost/Kunto.Web/api/';
</script>

<script src="~/AppScripts/designPatterns/designPatternsService.js"></script>
<script src="~/AppScripts/designPatterns/designPatternsController.js"></script>

<div ng-app="designPatternsApp">
    <div ng-controller="designPatternsController">
        <ul>
            <li ng-repeat="pattern in patterns">
                <span>{{pattern.name}}</span>
                <p>{{pattern.id}}</p>
            </li>
        </ul>
    </div>
</div>